* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  min-width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

body {
  background: url("images/background/bluish.svg"),
    linear-gradient(rgb(219, 166, 166), rgb(0, 0, 172));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
